<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/loginpage.css'%}">
    <title>Home</title>
</head>
<body>
    <form action="" method="post">
         <!-- Headings for the form -->
        {% csrf_token %}         
         <div class="headingsContainer">
            <h3>Register</h3>
        </div>

        <div class="mainContainer">
            {{ form }}
        <button type="submit">Register</button>
        </div>
    </form>
  
             
</body>
</html>